@model AppUserLoginDto
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login/site.css" asp-append-version="true" />



<body class="align">

    <div class="grid">

        <form asp-action="Index" method="POST" class="form login" id="loginForm">

            <div class="form__field">
                <label for="login__username">
                    <svg class="icon">
                        <use xlink:href="#icon-user"></use>
                    </svg><span class="hidden">Username</span>
                </label>
                <input id="login__username" type="text" asp-for="UserName" class="form__input" placeholder="Kullanıcı Adı" required>
            </div>

            <div class="form__field">
                <label for="login__password">
                    <svg class="icon">
                        <use xlink:href="#icon-lock"></use>
                    </svg><span class="hidden">Password</span>
                </label>
                <input id="login__password" type="password" asp-for="Password" class="form_input" placeholder="Şifre" required>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form__field">
                <button type="submit" >Giriş Yap</button>


            </div>

        </form>
        <form asp-action="ExternalLogin">
            <div>
                @foreach (var provider in Model.Schemes)
                {
                    <button type="submit"
                            class="google-btn"
                            name="provider"
                            value="@provider.Name"
                            title="@provider.Name kullanarak hesabına giriş yap">
                        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo">
                        <span>Sign  with Google</span>
                    </button>
                }
            </div>
        </form>
        <p class="text--center">
            Üye Değil misin ? <a asp-controller="Register" asp-action="Index">Kayıt Ol</a>
            <svg class="icon">
                <use xlink:href="#icon-arrow-right"></use>
            </svg>
        </p>
        <div class="loader loader--style3" title="2">
            <svg version="1.1" id="loader-1" style="display: none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
                              attributeName="transform"
                              type="rotate"
                              from="0 25 25"
                              to="360 25 25"
                              dur="0.6s"
                              repeatCount="indefinite" />
          </path>
            </svg>
        </div>

    </div>
    <script>
        document.getElementById("loginForm").onsubmit = function(event) {
            if(!this.checkValidity()){

            event.preventDefault();
            document.getElementById("loader-1").style.display = "none";

            }else{
                document.getElementById("loader-1").style.display = "block";
            }
        };
    </script>


    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="icon-arrow-right" viewBox="0 0 1792 1792">
            <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" />
        </symbol>
        <symbol id="icon-lock" viewBox="0 0 1792 1792">
            <path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" />
        </symbol>
        <symbol id="icon-user" viewBox="0 0 1792 1792">
            <path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" />
        </symbol>
    </svg>
</body>